.overlay__whitebox {
    position: fixed;
    max-width: 80%;
    max-height: 80%;
    width: 450px;
    height: 600px;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    border-radius: 10px;
    background-color: white;
    box-shadow: 0px 5px 4px 0px black;
}
  
.overlay__whitebox img {
    max-width: 100%;
    margin-top: 0%;
    height: 80px;
}
  
.overlay__whitebox div {
    background-color: black;
    border-radius: 10px 10px 0px 0px;
    height: 80px;
}

.form__account {
      display: flex;
      flex-direction: column;
      width: 300px;
      margin: auto;
}

legend {
      text-align: center;
      margin-bottom: 40%;
      margin-top: 20%;
}

label {
    margin-left: 14%;
}

.form_account input {
      margin-top: 20px;
}

#email {
      margin: auto;
      margin-bottom: 10px;
      width: 200px;
      border-radius: 5px;
}

#password {
      margin: auto;
      margin-bottom: 10px;
      width: 200px;
      border-radius: 5px;

}

.newacc-cta {
      margin: auto;
      width: 60%;
      background-color: var(--green);
      color: var(--white);
      border-radius: 5px;
      border-style: none;
      padding: 8px;
      margin-bottom: 5px;
      text-decoration: none;
      text-align: center;
}

.forgot-cta {
    margin: auto;
    width: 50%;
    background-color: var(--blue);
    color: var(--white);
    border-radius: 5px;
    border-style: none;
    padding: 5px;
}

@media only screen and (max-height: 600px) {
    legend {
        margin: 5% auto;
    }
    
    .newacc-cta {
        padding: 4px;
  }
  
  .forgot-cta {
      padding: 3px;
    }
}