.contact__container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  max-width: 800px;
  margin: 0 auto;
  margin-top: 100px;
  grid-gap: 50px;
}

.contact-form {
  display: grid;
  min-width: 300px;
  max-width: 400px;
  margin: 0 auto;
}

.contact-form label {

}

.contact-form input {
  border: none;
  height: 25px;
  border-radius: var(--borderradius1);
  margin: 5px;
}

#contact__form-textarea {
    height: 150px;
    margin: 5px;
    margin-top: 25px;
    resize: none;
    border-radius: var(--borderradius1);
}

.contact__form-message {
    margin: 0 auto;
    background-color: var(--green);
    color: black;
    border-radius: var(--borderradius1);
    margin-top: 10px;
}

.contact__form-button {
  width: 100px;
  height: 25px;
  margin: 20px auto;
  background-color: var(--blue);
  color: var(--white);
  border: none;
  border-radius: var(--borderradius1);
}

.contact__form-button:disabled {
    opacity: 30%;
    background-color: var(--red);
}

.fullname-error, .phonenumber-error, .email-error {
    display: none;
    color: var(--red);
    font-size: 16px;
}

.contact__information {
  margin: 0 auto;
}

@media only screen and (max-width: 800px) {
  .contact__container {
    grid-template-columns: 1fr;
  }
}