.game-details {
    display: grid;
    grid-template-columns: 1fr;
    max-width: 600px;
    margin: 30px auto;

}

.game-details h2 {
    padding: 30px;
    background-color: var(--gray);
}

.product-image {
    margin: 10px;
    height: 300px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain
}

.game-details p {
    max-width: 500px;
    margin: 10px auto;
    font-size: 14px;
    border-radius: var(--borderradius1);
    padding: 20px;
    background-color: var(--gray);
}

.product-price {
    margin: 10px auto;
    text-align: right;
  }
  
  .product-button {
    margin: auto;
    background-color: var(--green);
    border: none;
    border-radius: var(--borderradius1);
    height: 35px;
    width: 100px;
    cursor: pointer;
  }








  @media only screen and (max-width: 500px) {
    .game-details h2 {
        font-size: 18px;
    }

    .game-details p {
        font-size: 12px;
    }
  }