/* Products Container*/

a{
  text-decoration: none;
  color: white;
}

.games__container {
  max-width: 800px;
  margin: 50px auto;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}

.product {
  width: 230px;
  margin: 0 auto;
  margin-bottom: 40px;
}

.product-name {
  height: 40px;
  font-size: 16px;
  text-align: center;
  padding: 10px 0px;
  background-color: var(--white);
  color: black;
}

.product-image {
  background-size: cover;
  height: 300px;
}

.product-price {
  margin: 5px;
}

.product-button {
  margin: auto;
  background-color: var(--green);
  border: none;
  border-radius: var(--borderradius1);
  height: 35px;
  width: 100px;
  cursor: pointer;
}



/*Shoppingcart list*/

.cart {
  position: fixed;
  border: 2px solid var(--green);
  background-color: var(--white);
  color: black;
  max-width: 200px;
  min-width: 200px;
  max-height: 600px;
  margin: auto;
  right: 10px;
  bottom: 10px;
  display: none;
  overflow-y: scroll;
  overflow-x: hidden
}

.cart-item {
  margin: 30px 10px;
}

.cart-item h4 {
  font-size: 12px;
  color: black;
}

.cart-image {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  background-size: cover;
}

.cart-total {

}

.cart-total {
  margin: 10px 0px;
}

.cart-button {
  text-decoration: none;
  font-weight: bold;
  padding: 10px;
  display: grid;
  text-align: center;
  background-color: var(--green);
  color: black;
}

@media only screen and (max-width: 800px) {
  .games__container {
    grid-template-columns: 1fr 1fr;
  }
}

@media only screen and (max-width: 600px) {
  .games__container {
    grid-template-columns: 1fr;
  }
}