.logoheader {
  grid-area: logo;
}

.overlay__whitebox h2 {
  grid-area: h2;
}
.logoheader img {
  grid-area: image;
}

.toptext {
  grid-area: toptext;
}

#selectquantity {
  grid-area: selectquantity;
}

.prices {
  grid-area: prices;
}

.addcart-cta {
  grid-area: addcart;
}

.about {
  grid-area: about;
}
.overlay__whitebox {
  z-index: 92993;
  position: fixed;
  max-width: 80%;
  max-height: 80%;
  width: 450px;
  height: 600px;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  border-radius: 10px;
  background-color: white;
  box-shadow: 0px 5px 4px 0px black;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr 1fr 1fr 3fr;
  grid-template-areas:
    "logo logo logo logo"
    " h2 h2 h2 h2"
    "image image toptext toptext"
    "image image selectquantity prices"
    "image image addcart addcart"
    "about about nothing nothing";
}

.h2 {
  text-align: center;
}

.farcryimage {
  margin-left: 4%;
  max-width: 200%;
  max-height: 250%;
}

.logoheader {
  background-color: black;
  border-radius: 10px 10px 0px 0px;
  height: 80px;
}

.logoheader img {
  width: auto;
  max-height: 100%;
  margin-top: 0%;
  height: 60px;
}

.toptext {
  margin: 0;
  font-size: 16px;
  text-align: left;
}

.toptext p {
  margin: 0;
}

.instock {
  color: var(--green);
}

#selectquantity {
  width: 50%;
  height: 80px;
  max-height: 50%;
}

#selectquantity option {
  position: absolute;
  left: 50%;
  top: 50%;
}

.prices {
  height: 80px;
  margin: 0px;
}

.prices p {
  margin: 0;
}

.oldprice {
  color: var(--red);
  text-decoration: line-through;
}

.newprice {
  color: var(--green);
}

.addcart-cta {
  background-color: var(--blue);
  color: var(--white);
  border-style: none;
  border-radius: 10px;
  width: 100px;
  height: 50px;
  justify-self: center;
  margin-top: 20px;
  max-width: 100%;
  max-height: auto;
}

@keyframes animationadd {
  0% {
    background-color: var(--blue);
  }
  50% {
    background-color: var(--green);
    width: 50px;
    height: 20px;
    font-size: 6px;
  }
}

.addcart-cta {
  animation-name: animationadd;
  animation-duration: 3s;
  animation-iteration-count: infinite;
  animation-fill-mode: backwards;
}

.about {
  margin-left: 10px;
  margin-top: -25px;
  margin-bottom: 15px;
}

@media only screen and (max-height: 600px) {
  .overlay__whitebox {
    width: 80%;
    height: 80%;
    max-width: 500px;
    max-height: 300px;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr;
    grid-template-areas:
      "logo logo logo logo logo"
      "image image image h2 h2"
      "image image image toptext prices"
      "about about about selectquantity addcart"
      "about about about selectquantity addcart";
  }

  .overlay__whitebox img {
    margin-left: 4%;
    margin-top: 4%;
    max-width: auto;
    max-height: 200%;
  }

  .addcart-cta {
    margin-top: 0;
  }

  .toptext p {
    margin-right: 5px;
  }
}
