.overlay__whitebox {
  display: flex;
  flex-direction: column;
  margin: 50px auto;
  max-width: 800px;
}

.overlay__whitebox * {
  margin: 0 auto;
  padding: 10px;
}

.overlay__whitebox img {
  max-width: 100%;
}