.overlay__whitebox {
  position: fixed;
  max-width: 80%;
  max-height: 80%;
  width: 450px;
  height: 600px;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  border-radius: var(--borderradius1);
  background-color: white;
  box-shadow: 0px 5px 4px 0px black;
}

.form__account {
  display: flex;
  flex-direction: column;
}

legend {
  margin: 10% auto;
}

select {
  width: 250px;
  margin: auto;
  max-width: 80%;
  margin: auto;
  border-radius: 5px;
  margin-bottom: 5px;
}

.forsale-cta {
  margin: auto;
  width: 60%;
  background-color: var(--green);
  color: var(--white);
  border-radius: 5px;
  border-style: none;
  padding: 8px;
  margin-bottom: 5px;
  text-decoration: none;
  text-align: center;
}

#textarea {
  width: 50%;
  margin: 5% auto;
  height: 100px;
  resize: none;
  max-height: 20%;
}

@media only screen and (max-height: 600px) {
  .overlay__whitebox {
    width: 500px;
    height: 260px;
  }

  legend {
    margin: 4% auto;
  }

  #textarea {
    width: 50%;
    margin: 2% auto;
    height: 50px;
    resize: none;
    max-height: 15%;
  }

  .forsale-cta {
    margin: auto;
    width: 30%;
    background-color: var(--green);
    color: var(--white);
    border-radius: 5px;
    border-style: none;
    padding: 4px;
    margin-bottom: 4px;
    text-decoration: none;
    text-align: center;
  }
}
