.cart-page {
  max-width: 800px;
  margin: 50px auto;
  display: grid;
}

.product {
  width: 230px;
  margin: 0 auto;
  margin-bottom: 40px;
}

.product-name {
  height: 70px;
  font-size: 16px;
}

.product-image {
  background-size: cover;
  height: 300px;

}

.total {

}

.product-button {
  margin: auto;
  background-color: var(--green);
  border: none;
  border-radius: var(--borderradius1);
  height: 25px;
  cursor: pointer;
}