.cart-page {
  max-width: 800px;
  margin: 50px auto;
  display: grid;
}

.cart-item {
  margin: 20px;
}

.cart-item:nth-child(odd) {
  background-color: var(--gray);
}

.cart-image {
  width: 100px;
  height: 150px;
  background-size: contain;
  margin: 10px;
}

.total {

}

.product-button {
  margin: auto;
  background-color: var(--green);
  border: none;
  border-radius: var(--borderradius1);
  height: 25px;
  cursor: pointer;
}