@import "variables/variables.css";

@font-face {
  font-family: "Britanic";
  src: url("../fonts/BRITANIC.ttf") format("truetype");
}

@font-face {
  font-family: "Perfectdark";
  src: url("../fonts/pdark.ttf") format("truetype");
}

/*General settings body */

body {
  font-family: var(--fontdefault);
  background-color: var(--black);
  color: var(--white);
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
}

h1,
h2,
h3,
h4,
p {
  margin: 0;
}

li {
  list-style: none;
}

/* Top part of the navigation*/

header {
  display: grid;
}

.header__main {
  display: grid;
  grid-template-columns: 1fr 3fr 1fr;
  max-width: 1000px;
  margin: 10px auto;
}

.nav__main {
  align-self: center;
}

.nav__main ul {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}

.nav__main li {
  margin: 0 20px;
}

.logo {
  background-image: url("../images/logo.png");
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
  min-width: 140px;
  margin: 5px;
}

.search__container {
  display: grid;
  grid-template-columns: 8fr 1fr;
  height: 30px;
  align-self: center;
  justify-self: center;
}

.search__input {
  background-color: var(--black);
  color: var(--white);
  border: 1px solid white;
  border-radius: var(--borderradius1);
  padding: 5px;
}

.search__button {
  background-color: var(--orange);
  color: var(--white);
  border: 1px solid white;
  border-radius: var(--borderradius1);
  margin-left: 10px;
  width: 40px;
}

.search__button:hover {
  background-color: var(--blue);
  cursor: pointer;
}

.menuitems {
  font-size: 20px;
}

/* Hamburger menu */

.hamburger__menu {
  display: none;
}

.hamburger__dropdown-menu {
  display: none;
}

#hamburger {
  display: none;
}

.hamburger__menu {
  grid-area: hamburger-menu;
  align-self: center;
  justify-content: end;
  margin-right: 30px;
  font-size: 26px;
}

.hamburger__dropdown-menu {
  position: absolute;
  top: 70px;
  right: 0px;
  width: 100%;
  padding: 0px;
  margin: 0px;
  background-color: var(--gray);
}

.hamburger__dropdown-menu li {
  padding: 8px 20px;
  text-align: end;
}

.hamburger__dropdown-menu li:nth-child(odd) {
  background-color: var(--black);
}

.hamburger__dropdown-menu a {
  color: var(--orange);
}

/* Bottom part of the navigation*/

.header__sub {
  background-color: var(--black);
}

.nav__sub {
  max-width: 1000px;
  margin: 0 auto;
}

.nav__sub ul {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  text-align: center;
  justify-content: center;
  margin: 0px;
  padding: 0px;
  white-space: nowrap;
}

.nav__sub a {
  display: grid;
  text-decoration: none;
  color: var(--white);
  font-size: 20px;
  height: 40px;
  align-items: center;
}

.nav__sub li:nth-child(odd) {
  background-color: var(--gray);
}

.nav__sub a {
  color: var(--orange);
}

/* Shoppingcart */

.cart {
  position: fixed;
  border: 2px solid var(--green);
  background-color: var(--white);
  color: black;
  max-width: 200px;
  min-width: 200px;
  max-height: 600px;
  margin: auto;
  right: 10px;
  bottom: 10px;
  display: none;
  overflow-y: scroll;
  overflow-x: hidden;
}

.cart-item {
  margin: 30px 10px;
}

.cart-item h4 {
  font-size: 12px;
  color: black;
}

.cart-image {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  background-size: cover;
}

.cart-quantity {
  color: black;
}

.cart-total {
  background-color: var(--blue);
  font-weight: bold;
  margin: 0;
}

.cart-button {
  text-decoration: none;
  font-weight: bold;
  padding: 10px;
  display: grid;
  text-align: center;
  background-color: var(--green);
  color: black;
}

/* Footer */

footer {
  background: black;
  margin-top: 100px;
  padding-top: 30px;
}

footer h3 {
  color: var(--blue);
  font-size: 18px;
}

footer a,
p {
  font-size: 14px;
}

.footer__container {
  display: grid;
  max-width: 800px;
  margin: 0 auto;
  padding-top: 40px;
  padding-left: 20px;
  padding-right: 20px;
  grid-template-columns: 1fr 1fr 1fr;
  color: var(--white);
}

.footer__divspaces--margin {
  margin-bottom: 40px;
}

.footer__contact a {
  display: block;
  text-decoration: none;
  color: var(--white);
  font-family: var(--fontdefault);
  font-weight: normal;
  margin-bottom: 14px;
}

.fab,
.fas,
.far {
  font-size: 18px;
}

.socialmedia .fab {
  color: white;
}

.footer__openhours-text div {
  display: flex;
  justify-content: space-between;
  white-space: nowrap;
  border: none;
  margin: 0;
  padding: 0;
}

.footer__openhours-text p {
  margin: 0 0 4px 0;
}

.copyright {
  text-align: center;
  font-family: var(--fontdefault);
  font-weight: bold;
  font-size: 12px;
  padding: 5px 0;
  background: black;
  color: white;
  width: 100%;
  padding: 10px 0px;
}
/* Media Queries */

@media only screen and (max-width: 650px) {
  .logo {
    grid-area: thelogo;
    height: 50px;
  }

  .search__container {
    grid-area: thesearchbar;
    margin: 0px 10px;
  }

  .hamburger__menu {
    display: grid;
  }

  #hamburger:checked ~ .hamburger__dropdown-menu {
    display: block;
  }

  .header__main {
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    grid-template-areas:
      "thelogo hamburger-menu"
      "thesearchbar thesearchbar";
  }

  .nav__main {
    display: none;
  }

  .header__sub {
    display: none;
  }

  @media only screen and (max-width: 900px) {
    .footer__container {
      grid-template-columns: 1fr 1fr;
    }
  }

  @media only screen and (max-width: 500px) {
    .footer__container {
      grid-template-columns: 1fr;
    }
  }
}
