@font-face {
  font-family: Tahoma, Geneva, Verdana, sans-serif;
  font-family: "Britannic";
  src: url("../fonts/BRITANIC.ttf");
  font-family: "Perfect Dark";
  src: url("../fonts/pdark.ttf");
}
header {
  grid-area: header;
}
main {
  grid-area: main;
}
footer {
  grid-area: footer;
}

body {
  display: grid;
  margin: 0 15%;
  background-color: black;
  background-image: url(/images/background.png);
  background-repeat: no-repeat;
  background-attachment: absolute;
  background-position-x: right 65%;
  background-position-y: top 30%;
  background-size: cover;
  background-size: 125%;

  grid-template-areas:
    "header"
    "main"
    "footer";
}

/* Header */

header {
  box-shadow: 0px 0px 15px 0px white;
  display: grid;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  width: 100%;
  height: 80px;
  background-color: rgb(0, 0, 0);
  z-index: 9000;
  max-height: 10vh;
}

.controllheader {
  display: grid;
  grid-template-columns: 1fr 3fr 2fr;
  max-width: 1200px;
  margin: 0 auto;
  height: 80px;
  max-height: 10vh;
}

.logo {
  height: 80px;
  justify-self: left;
  max-height: 10vh;
}

.searchbar {
  display: flex;
  align-self: center;
  align-items: center;
  padding-left: 30px;
  height: 25px;
}

nav {
  display: none;
}

#hamburger-menu {
  display: none;
}

#hamburger-menu:checked ~ nav {
  display: block;
}

.input {
  border-radius: 5px 0px 0px 5px;
  border-style: none;
  height: 24px;
  max-height: 4vh;
  max-width: 5vw;
}

.srcbtn {
  height: 26px;
  border-radius: 0px 5px 5px 0px;
  border-style: none;
  background-color: #10af10;
  max-height: 5vh;
  max-width: 5vw;
}

li {
  padding-right: 40px;
}

ul {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}

.menuitems {
  width: 40px;
  height: 40px;
}

#backgrounddiv {
  background-repeat: no-repeat;
}

/* Main */

.main {
  display: grid;
  grid-template-columns: auto auto auto;
  justify-content: center;
  grid-gap: 20px;
  margin: 20vh auto;
  z-index: 10000;
}

.product1 {
  position: relative;
  text-align: center;
  max-width: 300px;
}

.product2 {
  max-width: 100%;
}

.new {
  position: absolute;
  bottom: 3%;
  left: 15%;
  font-size: 20px;
  color: green;
  font-weight: bold;
  width: 1px;
}

.used {
  position: absolute;
  bottom: 3%;
  right: 35%;
  font-size: 20px;
  font-weight: bold;
  width: 1px;
}

.overlay__farcry {
  position: fixed;
  width: 300px;
  height: 400px;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  border-radius: 10px;
  background-color: white;
  box-shadow: 0px 5px 4px 0px black;
  display: grid;
}

.overlay__farcry img {
  max-width: 100%;
  width: 50%;
  margin-top: 5%;
}

.overlay__farcry div {
  background-color: black;
  border-radius: 10px 10px 0px 0px;
  height: 80px;
}

.text__shoppingcart {
  grid-area: textcart;
}

.form__shipping {
  grid-area: shipping;
}

.items__shoppingcart {
  grid-area: itemscart;
}

.form__card {
  grid-area: carddetails;
}

.form__payment {
  grid-area: payment;
}

.overlay__shoppingcart {
  width: 800px;
  height: 400px;
  max-width: 90%;
  max-height: 90%;
  z-index: 95676;
  position: fixed;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  background-color: white;
  border-radius: 30px;
  box-shadow: 5px 5px 15px 5px black;
  display: grid;
  grid-template-columns: 2fr 1fr;
  grid-template-rows: 1fr 2fr 1fr 1fr 1fr;
  grid-template-areas:
    "textcart shipping"
    "itemscart shipping"
    "itemscart shipping"
    "carddetails shipping"
    "payment shipping";
}

.text__shoppingcart {
  font-size: 20px;
  font-weight: bold;
  font-family: "Britannic";
  margin-left: 10%;
  margin-top: 5%;
}

.items__shoppingcart {
  display: grid;
  grid-template-columns: 6fr 1fr;
  grid-template-rows: 1fr 1fr;
  grid-template-areas:
    "selected price"
    "selected2 total";
}

.items__selected {
  display: flex;
  max-height: 80px;
  margin-left: 5%;
  margin-right: 2%;
  border-style: solid;
  border-radius: 10px;
  grid-area: selected;
  margin-bottom: 10px;
}

.itemz {
  flex: 1;
}

.itemztext {
  flex: 4;
  align-self: center;
}

.item__quantity {
  max-width: 20px;
  max-height: 15px;
  align-self: center;
  margin: 2%;
}

.items__selected label {
  white-space: nowrap;
  align-self: center;
  justify-self: center;
}

.miniitem {
  max-height: 80px;
  width: auto;
}

.cta-update {
  max-width: 60px;
  max-height: 40px;
  align-self: center;
  margin-right: 10px;
  color: white;
  background-color: #4343f9;
  border-style: solid;
  border-color: black;
  border-radius: 10px;
}

.items__price {
  grid-area: price;
  max-height: 80px;
  margin-left: 5%;
  margin-right: 2%;
  border-style: solid;
  border-radius: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: 10px;
}

.items__total {
  grid-area: total;
  max-height: 80px;
  margin-left: 5%;
  margin-right: 2%;
  border-style: solid;
  border-radius: 10px;
  display: flex;
  align-items: center;
  text-align: center;
  margin-right: 10px;
}

.form__card {
  display: grid;
  grid-template-columns: 2fr 1fr 1fr 1fr;
  margin-right: 5%;
  margin-left: 5%;
}

.form__cardinfo {
  width: 80%;
  border-radius: 5px;
  box-shadow: 1px 1px 2px 1px black;
}

.form__payment {
  margin-left: 5%;
}

.form__shipping {
  justify-self: center;
  align-self: center;
}

.form__input {
  display: block;
  width: 90%;
  border-radius: 5px;
  border-style: solid black;
  box-shadow: 1px 1px 2px 1px black;
}

legend {
  font-size: 20px;
  font-weight: bold;
  font-family: "Britannic";
}

.form__shipping label {
  color: #000000;
  font-size: 12px;
  font-family: Tahoma;
  font-weight: bold;
}

.checkoutbutton {
  color: white;
  background-color: green;
  border-radius: 10px;
  border: solid black 1px;
  box-shadow: 1px 1px 2px 1px black;
  font-size: 20px;
  padding: 5% 10% 5% 10%;
  margin-top: 5%;
  margin-left: 10%;
  margin-right: 10%;
}

/* Footer */

footer {
  box-shadow: 0px 0px 15px 0px white;
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: black;
  z-index: 1000;
  height: 60px;
  max-height: 10vh;
}

.footercontroller {
  font-family: "Perfect Dark";
  display: flex;
  max-width: 1200px;
  margin: 0 auto;
  height: 60px;
  max-height: 10vw;
}

.textfooter {
  color: #ffbb10;
  white-space: nowrap;
  font-size: 20px;
  position: absolute;
  right: 54%;
  bottom: 10%;
  max-height: 3vh;
  max-width: 45vw;
}
.yellowbar {
  position: fixed;
  left: 50%;
}

.yellowpic {
  height: 60px;
  max-width: 100%;
  max-height: 10vh;
}

.buy {
  position: absolute;
  font-family: "Perfect Dark";
  font-size: 20px;
  left: 25%;
  top: 18%;
  text-decoration: none;
  color: white;
  background-color: #4343f9;
  border-radius: 5px;
  padding: 10px 25px;
}

.sell {
  position: absolute;
  font-family: "Perfect Dark";
  font-size: 20px;
  left: 55%;
  top: 18%;
  text-decoration: none;
  color: white;
  background-color: #4343f9;
  border-radius: 5px;
  padding: 10px 25px;
}

.widow {
  position: absolute;
  max-width: 15vw;
  bottom: 100%;
  left: 0%;
}

.buy:hover {
  cursor: pointer;
}

#buybutton,
.overlay__shoppingcart {
  display: none;
}

#buybutton:checked ~ .overlay__shoppingcart {
  display: grid;
}

/* Media Query's */

@media only screen and (min-width: 1920px) {
  .textfooter {
  }
}

@media only screen and (max-width: 600px) {
  ul {
    display: none;
  }
  .textfooter {
    font-size: 12px;
    justify-self: center;
    bottom: 15px;
  }
  .overlay__shoppingcart {
    height: 70%;
    width: 800px;
    max-width: 90%;
    max-height: 85%;
    z-index: 95676;
    position: fixed;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    background-color: white;
    border-radius: 30px;
    box-shadow: 5px 5px 15px 5px black;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 2fr 1fr 1fr 1fr;
    grid-template-areas:
      "textcart"
      "itemscart"
      "carddetails"
      "payment"
      "shipping";
  }

  .items__shoppingcart {
    display: grid;
    grid-template-columns: 75% 20%;
    grid-template-rows: 1fr 30%;
    grid-template-areas:
      "selected price"
      "selected2 total";
  }
  .items__selected label {
    display: none;
  }

  .form__shipping {
    margin-left: 20px;
    margin-bottom: 5px;
    justify-self: left;
  }
  .checkoutbutton {
    position: absolute;
    left: 48%;
    width: 130px;
    padding: 5px;
    bottom: 30px;
  }
}

@media only screen and (min-width: 601px) {
  .controllheader label {
    display: none;
  }
}
