:root {
    --white: #ffffff;
    --black: #1d1c1c;
    --orange: #ffbb10;
    --blue: #3cabff;
    --gray: #333333;
    --deeppurple: #2c162a;
    --red: #f13d3d;
    --green: #4ee641;

    --fontdefault: 'Open Sans', Helvetica, sans-serif;
    --font1: "Britanic", Helvetica, sans-serif;
    --font2: "Perfectdark", Helvetica, sans-serif;

    --borderradius1: 2px;
}